.pointer{
    cursor: pointer;
}

.position{
    position: fixed;
    left: 67%;
}
.novedad{
    height:100px;
    width: 200px;
    color: red;
}
.alerta{
    font-size: 30px;
    color: aqua;
}

.logo{
    height: 150px;
    width: 250px;
}