<app-menu></app-menu>

<div class="row row-cols-12 row-cols-md-11 w-100">
    <div class="col col-12 col-md-12">

    </div>
    <div class="col col-6 col-md-7 shadow p-5 m-5">
        <div class="row row-cols-1 row-cols-2 w-100">
          <div class="col col-12 col-md-12 mx-auto m-xxl-auto d-block p-4">
            <app-barrabusqueda (search)="handleSearch($event)"></app-barrabusqueda>
          </div>
          

      

            <div class="col col-12 col-md-7 w-75 h-100 mx-auto d-block mt-5 " *ngFor="let dato of datosZonas ">
                 <div class="col col-12 col-md-12">
                  <div class="card pointer border-bottom p-4 bg-light">
                    <h1 class="w-100" (click)="visibleTablas()">{{dato.nombre}}</h1>
                  </div>
                 </div>
             <div class="col col-12 col-md-12 w-100">
              <table class="table bg-secondary"  >
                <thead class=" table-dark bg-dark">
                  <th class="p-3 text-center">Novedad</th>
                  <th class="p-3 text-center">Descripcion Mercancia</th>
                  <th class="p-3 text-center">Volumen</th>
                  <th class="p-3 text-center">Iup</th>
                  <th class="p-3 text-center"></th> 
                  <th class="p-3 text-center">Ampliar Info</th>
                  
                </thead>
                  <tbody class=" bg-light" *ngFor="let mercancia of dato.mercancias | filter: filterdatosMercancias">
                    <td class="p-3 text-center"><i (mouseover)="alertaDeNovedad(mercancia.novedad)" class="bi bi-exclamation-triangle-fill novedad"></i></td>
                    <td class="p-3 text-center">{{mercancia.nombre}}</td>
                    <td class="p-3 text-center">{{mercancia.volumen}}</td>
                    <td class="p-3 text-center">{{mercancia.iup}}</td>
                    <td class="p-2"> <button (click)="retirarMercancia(mercancia.iup)" class="btn btn-outline-danger m-2" type="button"><i class="bi bi-trash"></i></button></td>
                    <td class="p-3 text-center" > <i (click)=" ampliarInfoAlerta(mercancia.iup,mercancia.nombre,mercancia.volumen,mercancia.nombreRemitente,mercancia.idRemitente,mercancia.direccionRemitente,mercancia.deptoRemitente,mercancia.municipioRemitente,mercancia.nombreDestinatario,mercancia.idDestinatario,mercancia.direccionDestinatario,mercancia.deptoDestinatario,mercancia.municipioDestinatario)"   class="bi bi-info-circle"></i></td>
                  </tbody> 
              </table>
             </div>
            </div>
          </div>
    </div>
    <div class="col col-12 col-md-4 mt-3">
        <app-grafica class="position"></app-grafica>
    </div>

</div>

<app-footer></app-footer>